body {
  background-color: #FFFDF7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.topnav {
  background-color: #D9E6D9;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #F2F8F2;
  color: black;
}

.topnav a.active {
  background-color: #B5CCB5;
  color: #000;
}

.central-div {
  margin: auto;
  width: 60%;
  padding: 20px;
}

h4 {
  margin-top: -20px;
}

.column {
  float: left;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

img {
  width: 150px;
  height: auto;
  padding-bottom: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.insect-collapse {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.insect-pin {
  display: inline-block;
  margin: 10px;
}